# dependencies
/node_modules

# next.js
/.next/
/out/

# build (optional: keep if you don't want dist in git)
# /dist

# library source (optional depending on repo strategy)
# src/

# storybook
.storybook/
storybook-static/

# misc
.DS_Store
*.pem
.vscode/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# env
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts